body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
}
#u4047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
}
#u4048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
}
#u4049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
}
#u4050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:100px;
  height:40px;
  display:flex;
}
#u4051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:100px;
  height:40px;
  display:flex;
}
#u4052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:100px;
  height:40px;
  display:flex;
}
#u4053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:100px;
  height:40px;
  display:flex;
}
#u4054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:350px;
  width:100px;
  height:40px;
  display:flex;
}
#u4055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:540px;
  width:100px;
  height:40px;
  display:flex;
}
#u4056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:100px;
  height:40px;
  display:flex;
}
#u4057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:810px;
  width:100px;
  height:40px;
  display:flex;
}
#u4058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:900px;
  width:100px;
  height:40px;
  display:flex;
}
#u4059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:990px;
  width:100px;
  height:40px;
  display:flex;
}
#u4060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:100px;
  height:40px;
  display:flex;
}
#u4061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:170px;
  width:50px;
  height:40px;
  display:flex;
}
#u4062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:260px;
  width:100px;
  height:40px;
  display:flex;
}
#u4063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:450px;
  width:100px;
  height:40px;
  display:flex;
}
#u4064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:727px;
  width:100px;
  height:40px;
  display:flex;
}
#u4065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:210px;
  width:0px;
  height:0px;
}
#u4066_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:20px;
}
#u4066_seg1 {
  border-width:0px;
  position:absolute;
  left:-280px;
  top:10px;
  width:285px;
  height:10px;
}
#u4066_seg2 {
  border-width:0px;
  position:absolute;
  left:-280px;
  top:10px;
  width:10px;
  height:40px;
}
#u4066_seg3 {
  border-width:0px;
  position:absolute;
  left:-284px;
  top:40px;
  width:18px;
  height:18px;
}
#u4066_text {
  border-width:0px;
  position:absolute;
  left:-198px;
  top:7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
}
#u4067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:540px;
  width:100px;
  height:40px;
  display:flex;
}
#u4068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:300px;
  width:0px;
  height:0px;
}
#u4069_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u4069_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u4069_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:170px;
  width:50px;
  height:40px;
  display:flex;
}
#u4070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:370px;
  width:0px;
  height:0px;
}
#u4071_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:280px;
  height:10px;
}
#u4071_seg1 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:-160px;
  width:10px;
  height:165px;
}
#u4071_seg2 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:-168px;
  width:18px;
  height:18px;
}
#u4071_text {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
