body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:586px;
}
#u25858_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:586px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(107, 107, 107, 0.996078431372549);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25858_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u25859 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:39px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25859_img.selected {
}
#u25859.selected {
}
#u25859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#C0C0C0;
  text-align:left;
}
#u25860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#C0C0C0;
  text-align:left;
}
#u25860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u25860_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#C0C0C0;
  text-align:left;
}
#u25860.mouseOver {
}
#u25860_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#C0C0C0;
  text-align:left;
}
#u25860.selected {
}
#u25860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u25861_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25861.mouseOver {
}
#u25861_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25861.selected {
}
#u25861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u25862_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25862.mouseOver {
}
#u25862_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25862.selected {
}
#u25862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u25863_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25863.mouseOver {
}
#u25863_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25863.selected {
}
#u25863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u25864_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25864.mouseOver {
}
#u25864_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25864.selected {
}
#u25864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u25865_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25865.mouseOver {
}
#u25865_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25865.selected {
}
#u25865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u25866_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25866.mouseOver {
}
#u25866_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25866.selected {
}
#u25866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u25867_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25867.mouseOver {
}
#u25867_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25867.selected {
}
#u25867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u25868_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25868.mouseOver {
}
#u25868_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25868.selected {
}
#u25868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u25869_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25869.mouseOver {
}
#u25869_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25869.selected {
}
#u25869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u25870_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25870.mouseOver {
}
#u25870_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
  text-align:left;
}
#u25870.selected {
}
#u25870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25871 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:1166px;
  height:586px;
}
#u25871_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:586px;
  overflow:auto;
}
