body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u39545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:50px;
  display:flex;
}
#u39545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:900px;
  width:100px;
  height:50px;
  display:flex;
}
#u39546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39547 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:0px;
  height:0px;
}
#u39547_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39547_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39547_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39548 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:950px;
  width:0px;
  height:0px;
}
#u39548_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:155px;
}
#u39548_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:140px;
  width:18px;
  height:18px;
}
#u39548_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:67px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:50px;
  display:flex;
}
#u39549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39550 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:200px;
  width:100px;
  height:50px;
  display:flex;
}
#u39550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39551 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:225px;
  width:0px;
  height:0px;
}
#u39551_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39551_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39551_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:100px;
  height:50px;
  display:flex;
}
#u39552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39553 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:300px;
  width:100px;
  height:50px;
  display:flex;
}
#u39553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39554 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:325px;
  width:0px;
  height:0px;
}
#u39554_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39554_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39554_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:100px;
  height:50px;
  display:flex;
}
#u39555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39556 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:400px;
  width:100px;
  height:50px;
  display:flex;
}
#u39556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39557 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:425px;
  width:0px;
  height:0px;
}
#u39557_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39557_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39557_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39558 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:250px;
  width:0px;
  height:0px;
}
#u39558_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39558_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39558_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39559 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:350px;
  width:0px;
  height:0px;
}
#u39559_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39559_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39559_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39560 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:450px;
  width:0px;
  height:0px;
}
#u39560_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39560_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39560_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u39561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
  display:flex;
  color:#000000;
}
#u39561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1100px;
  width:100px;
  height:50px;
  display:flex;
}
#u39562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39563 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1150px;
  width:0px;
  height:0px;
}
#u39563_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39563_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39563_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39564 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1125px;
  width:0px;
  height:0px;
}
#u39564_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39564_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39564_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:100px;
  height:50px;
  display:flex;
}
#u39565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39566 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1100px;
  width:100px;
  height:50px;
  display:flex;
}
#u39566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39567 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:900px;
  width:100px;
  height:50px;
  display:flex;
}
#u39567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39568 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:925px;
  width:0px;
  height:0px;
}
#u39568_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39568_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39568_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39569 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:900px;
  width:100px;
  height:50px;
  display:flex;
}
#u39569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39570 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:925px;
  width:0px;
  height:0px;
}
#u39570_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:55px;
  height:10px;
}
#u39570_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39570_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39571 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1000px;
  width:100px;
  height:50px;
  display:flex;
}
#u39571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39572 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:950px;
  width:0px;
  height:0px;
}
#u39572_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39572_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39572_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:100px;
  height:50px;
  display:flex;
}
#u39573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:100px;
  height:50px;
  display:flex;
}
#u39574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:50px;
  display:flex;
}
#u39575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39576 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:500px;
  width:100px;
  height:50px;
  display:flex;
}
#u39576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39577 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:600px;
  width:100px;
  height:50px;
  display:flex;
}
#u39577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39578 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:700px;
  width:100px;
  height:50px;
  display:flex;
}
#u39578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39579 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:525px;
  width:0px;
  height:0px;
}
#u39579_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39579_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39579_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39580 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:550px;
  width:0px;
  height:0px;
}
#u39580_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39580_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39580_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39581 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:650px;
  width:0px;
  height:0px;
}
#u39581_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39581_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39581_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39582 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:850px;
  width:0px;
  height:0px;
}
#u39582_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39582_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39582_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39583 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:725px;
  width:0px;
  height:0px;
}
#u39583_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39583_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39583_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39584 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:625px;
  width:0px;
  height:0px;
}
#u39584_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39584_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39584_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:800px;
  width:100px;
  height:50px;
  display:flex;
}
#u39585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39586 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:800px;
  width:100px;
  height:50px;
  display:flex;
}
#u39586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39587 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:825px;
  width:0px;
  height:0px;
}
#u39587_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39587_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39587_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39588 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:750px;
  width:0px;
  height:0px;
}
#u39588_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39588_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39588_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
