body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:270px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u38994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:50px;
  display:flex;
}
#u38994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u38995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:900px;
  width:100px;
  height:50px;
  display:flex;
}
#u38995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38996 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:0px;
  height:0px;
}
#u38996_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u38996_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u38996_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u38997 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:950px;
  width:0px;
  height:0px;
}
#u38997_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u38997_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u38997_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u38998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u38998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:50px;
  display:flex;
}
#u38998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38999 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:200px;
  width:100px;
  height:50px;
  display:flex;
}
#u38999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39000 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:225px;
  width:0px;
  height:0px;
}
#u39000_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39000_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39000_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:100px;
  height:50px;
  display:flex;
}
#u39001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39002 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:300px;
  width:100px;
  height:50px;
  display:flex;
}
#u39002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39003 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:325px;
  width:0px;
  height:0px;
}
#u39003_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39003_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39003_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:100px;
  height:50px;
  display:flex;
}
#u39004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39005 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:400px;
  width:100px;
  height:50px;
  display:flex;
}
#u39005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39006 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:425px;
  width:0px;
  height:0px;
}
#u39006_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39006_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39006_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39007 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:250px;
  width:0px;
  height:0px;
}
#u39007_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39007_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39007_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39008 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:350px;
  width:0px;
  height:0px;
}
#u39008_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39008_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39008_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39009 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:450px;
  width:0px;
  height:0px;
}
#u39009_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39009_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39009_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u39010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
  display:flex;
  color:#000000;
}
#u39010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1000px;
  width:100px;
  height:50px;
  display:flex;
}
#u39011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39012 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1050px;
  width:0px;
  height:0px;
}
#u39012_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39012_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39012_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39013 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1025px;
  width:0px;
  height:0px;
}
#u39013_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39013_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39013_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:100px;
  height:50px;
  display:flex;
}
#u39014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39015 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1000px;
  width:100px;
  height:50px;
  display:flex;
}
#u39015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39016 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:925px;
  width:0px;
  height:0px;
}
#u39016_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39016_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39016_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39017 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:900px;
  width:100px;
  height:50px;
  display:flex;
}
#u39017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1100px;
  width:100px;
  height:50px;
  display:flex;
}
#u39018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39019 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1100px;
  width:100px;
  height:50px;
  display:flex;
}
#u39019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39020 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1125px;
  width:0px;
  height:0px;
}
#u39020_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39020_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39020_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39021 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1150px;
  width:0px;
  height:0px;
}
#u39021_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39021_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39021_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:100px;
  height:50px;
  display:flex;
}
#u39022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:100px;
  height:50px;
  display:flex;
}
#u39023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:50px;
  display:flex;
}
#u39024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39025 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:500px;
  width:100px;
  height:50px;
  display:flex;
}
#u39025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39026 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:600px;
  width:100px;
  height:50px;
  display:flex;
}
#u39026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39027 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:700px;
  width:100px;
  height:50px;
  display:flex;
}
#u39027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39028 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:525px;
  width:0px;
  height:0px;
}
#u39028_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39028_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39028_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39029 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:550px;
  width:0px;
  height:0px;
}
#u39029_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39029_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39029_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39030 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:650px;
  width:0px;
  height:0px;
}
#u39030_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39030_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39030_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39031 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:725px;
  width:0px;
  height:0px;
}
#u39031_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39031_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39031_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39032 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:625px;
  width:0px;
  height:0px;
}
#u39032_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39032_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39032_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u39033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:800px;
  width:100px;
  height:50px;
  display:flex;
}
#u39033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39034 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:800px;
  width:100px;
  height:50px;
  display:flex;
}
#u39034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39035 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:825px;
  width:0px;
  height:0px;
}
#u39035_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u39035_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39035_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39036 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:750px;
  width:0px;
  height:0px;
}
#u39036_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39036_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39036_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u39037 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:850px;
  width:0px;
  height:0px;
}
#u39037_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u39037_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u39037_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
