body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:50px;
  display:flex;
}
#u1470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:100px;
  height:50px;
  display:flex;
}
#u1471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:600px;
  width:100px;
  height:50px;
  display:flex;
}
#u1472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:0px;
  height:0px;
}
#u1473_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1473_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1473_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:1px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:625px;
  width:0px;
  height:0px;
}
#u1474_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u1474_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1474_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:650px;
  width:0px;
  height:0px;
}
#u1475_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1475_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1475_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:800px;
  width:100px;
  height:50px;
  display:flex;
}
#u1476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:100px;
  height:50px;
  display:flex;
}
#u1477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:300px;
  width:100px;
  height:50px;
  display:flex;
}
#u1478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:325px;
  width:0px;
  height:0px;
}
#u1479_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u1479_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1479_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:100px;
  height:50px;
  display:flex;
}
#u1480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:400px;
  width:100px;
  height:50px;
  display:flex;
}
#u1481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:425px;
  width:0px;
  height:0px;
}
#u1482_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u1482_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1482_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:100px;
  height:50px;
  display:flex;
}
#u1483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:500px;
  width:100px;
  height:50px;
  display:flex;
}
#u1484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:525px;
  width:0px;
  height:0px;
}
#u1485_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u1485_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1485_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:350px;
  width:0px;
  height:0px;
}
#u1486_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1486_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1486_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:450px;
  width:0px;
  height:0px;
}
#u1487_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1487_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1487_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:550px;
  width:0px;
  height:0px;
}
#u1488_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1488_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1488_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:800px;
  width:100px;
  height:50px;
  display:flex;
}
#u1489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:825px;
  width:0px;
  height:0px;
}
#u1490_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u1490_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1490_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:945px;
  width:0px;
  height:0px;
}
#u1491_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1491_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1491_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1210px;
  width:100px;
  height:50px;
  display:flex;
}
#u1492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1310px;
  width:100px;
  height:50px;
  display:flex;
}
#u1493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1260px;
  width:0px;
  height:0px;
}
#u1494_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1494_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1494_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
  display:flex;
  color:#000000;
}
#u1495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:50px;
  display:flex;
}
#u1496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:250px;
  width:0px;
  height:0px;
}
#u1497_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1497_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1497_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:995px;
  width:100px;
  height:50px;
  display:flex;
}
#u1498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1045px;
  width:0px;
  height:0px;
}
#u1499_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1499_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1499_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:995px;
  width:100px;
  height:50px;
  display:flex;
}
#u1500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1020px;
  width:0px;
  height:0px;
}
#u1501_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u1501_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1501_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:50px;
  display:flex;
}
#u1502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:750px;
  width:0px;
  height:0px;
}
#u1503_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1503_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1503_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:700px;
  width:100px;
  height:50px;
  display:flex;
}
#u1504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:725px;
  width:0px;
  height:0px;
}
#u1505_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u1505_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1505_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:900px;
  width:100px;
  height:50px;
  display:flex;
}
#u1506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:900px;
  width:100px;
  height:50px;
  display:flex;
}
#u1507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:850px;
  width:0px;
  height:0px;
}
#u1508_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1508_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1508_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:925px;
  width:0px;
  height:0px;
}
#u1509_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u1509_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1509_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1095px;
  width:100px;
  height:50px;
  display:flex;
}
#u1510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1095px;
  width:100px;
  height:50px;
  display:flex;
}
#u1511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1120px;
  width:0px;
  height:0px;
}
#u1512_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u1512_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1512_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1145px;
  width:0px;
  height:0px;
}
#u1513_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:70px;
}
#u1513_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:18px;
}
#u1513_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
